.gl-page-with-sidebar(ng-class="{'active': page.sidebarActive, 'pinned': page.sidebarPinned}")
    .sidebar.sidebar-blue(ng-mouseenter='page.enterSidebar()',ng-mouseleave='page.leaveSidebar()',ng-click='page.sidebarActive=true')
        ul
            li(style="text-indent:5px")
                img(src="https://i.ibb.co/MCvGxVm/Logo-3.png" alt="background" border="0" style="width:85%;margin: 10px;image-rendering: pixelated;")
            li.sidebar-title(style="font-size:20px")
                a(href='javascript:')
                    | {{page.appTitle}}
                    span.menu-icon.fa.fa-bars(ng-hide="page.sidebarActive", ng-click='page.sidebarActive=!page.sidebarActive')
            li.sidebar-title
                span NAVIGATION
            div(ng-repeat="group in page.groups")
                div(ng-if="group.items.length > 0")
                    li.sidebar-list
                        a(ng-click='page.toggleGroup(group)')
                            i.fa.fa-angle-right
                            | &nbsp;{{group.caption}}
                            span.menu-icon.fa(ng-class="'fa-' + group.icon")
                    li.sidebar-list.subitem(ng-class="{'active': page.activeGroup==group}", ng-repeat="item in group.items")
                        a(ui-sref='{{item.sref}}', ng-click='page.hideSidebar()')
                            | {{item.caption}}
                div(ng-if="group.items.length == 0")
                    div(ng-if="group.separator")
                        li.sidebar-title
                            span {{group.caption}}
                    div(ng-if="!group.separator")
                        li.sidebar-separator(ng-if="!$first")
                        li.sidebar-list
                            a(ui-sref='{{group.sref}}', ng-click='page.toggleGroup(group)')
                                | {{group.caption}}
                                span.menu-icon.fa(ng-class="'fa-' + group.icon")
        //.sidebar-footer
        //    .col-xs-4(ng-repeat="item in page.footer")
        //        a(ng-href='{{item.href}}')
        //            | {{item.caption}}
        img(src="https://i.ibb.co/Yjm7St0/background.png" alt="background" border="0" style="width:100%;image-rendering: pixelated;bottom:0;position:absolute;")
    .content
        div(ng-transclude)
