table.table.table-hover.table-striped.table-condensed
  tbody
    tr(ng-repeat="(name, value) in properties | publicFields | getAndSortProperties")
      td.text-left {{ name }}
      td.text-left
        pre(style="vertical-align:top; padding:unset; margin:unset; display:inline-block; border:unset; background-color:unset")
          | {{ value[0] }}
        i.fa.fa-copy.clickable(ng-if="name === 'Branch' || name === 'Revision'" style="vertical-align:top; padding:0 0.5ex" ng-click="copy(value[0], false)")
    tr(ng-show="build.complete")
      td.text-left Ipa url:
      td.text-left URL
    tr(ng-show="build.complete")
      td.text-left Apk url:
      td.text-left URL
